.project h1 {
  color: #1b1b1b;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67em;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.project img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.project img:hover {
  opacity: 0.95;
  transition-duration: 0.5s;
}
