.container {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem 8rem;
  padding: 80px 305px 0 230px;
}

.container h1 {
  color: #1b1b1b;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 200px;
}

.container-left__heading {
  color: #1b1b1b;
  font-weight: 600;
  font-size: 16px;
}

.container-left p {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67em;
}

.container-left p:last-child {
  margin-bottom: 0px;
}

.container-bottom {
  display: flex;
  justify-content: space-between;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
  max-width: 800px;
}

.container-form input {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #ccc;
  height: 50px;
  font-size: 15px;
  padding: 6px 10px;
  line-height: 1.3;
  outline: none;
}

.container-form input:nth-child(1),
input:nth-child(2) {
  margin-top: 0px;
}

.container-form button {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #000;
  color: #333;
  font-size: 1em;
  width: 100px;
  cursor: pointer;
}

.container-form button:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.container-form__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.container-form__name input {
  width: 100%;
}

.container-form textarea {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #ccc;
  height: 200px;
  font-size: 15px;
  padding: 6px 10px;
  line-height: 1.3;
  outline: none;
  resize: vertical;
}

@media screen and (max-width: 1500px) {
  .container-form {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    align-items: center;
    padding: 80px;
  }
  .container-bottom {
    display: flex;
    flex-direction: column;
  }
  .container-form {
    padding-top: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    align-items: center;
    padding: 40px 0px;
  }
  .container h1 {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 3rem 2rem 8rem;
  }
}
